<div class="container d-flex justify-content-center align-items-center flex-column">
  <!--  <div class="mat-card-baner" style="background-image: url('/imgs/image (1).png')">-->
  <!--    <h3 class="mat-card-title">{{country?.name}}</h3>-->
  <!--  </div>-->

  <p class="city-description">
    {{ country?.description }}
  </p>

  <div class="fact-block d-flex justify-content-center align-items-center">
    <div class="content">
      <h3>
        Відпочинок в Сицилії - цікаві факти
      </h3>

      <ul>
        <li>Сицилія - це найбільша область Італії і найбільший острів Середземного моря.</li>
        <li>Острів розташований досить близько до материкової частини і відокремлений від неї Мессинською протокою.</li>
        <li>Окрім Середземного його омивають ще два моря: Іонічне і Тірренське.</li>
        <li>М'який, типово середземноморський клімат дарує острову 2500 теплих годин в році.</li>
        <li>Тури на Сицилію варто придбати тільки заради природних пам'яток, таких як діючі вулкани Етна і Стромболі,
          лавандові поляни, зарості розмарину.
        </li>
        <li>Основний доход Сицилії складає сільське господарство і туризм. Тому для мандрівників тут створені усі умови.
          Крім того, особливу увагу уряд приділяє екологічному туризму.
        </li>
      </ul>
    </div>
  </div>

  <div class="form-search d-flex justify-content-center flex-column">
    <h3>Введіть дати, щоб знайти найкращі ціни</h3>
    <form>
      <div class="row">
        <div class="col-12">
          <input placeholder="Або введіть назву готелю" class="form-control hotel-name"/>
        </div>
        <div class="col-4">
          <input type="date" class="form-select form-control-sm" placeholder="Заселення"/>
        </div>
        <div class="col-4">
          <input type="date" class="form-select form-control-sm" placeholder="Виселення"/>
        </div>
        <div class="col-4">
          <input type="number" class="form-select form-control-sm" placeholder="Кількість"/>
        </div>
        <div class="col-6 button">
          <button type="button" class="btn">
            Шукати
          </button>
        </div>
        <div class="col-6 button">
          <button type="button" class="btn dark">
            Скинути фільтри
          </button>
        </div>
      </div>

    </form>
  </div>
  <div class="carousel-container" *ngIf="visibleHotels!=null">
    <div class="carousel-wrapper">
      <div class="carousel-block" style="position: relative;">
        <button class="nav left" style="position: absolute;left:10%" (click)="prevSlide()">&#10094;</button>
        <div class="carousel">
          <div
            class="carousel-card"
            *ngFor="let hotel of visibleHotels; let i = index"
            [ngClass]="{ 'center': i === 1, 'left' : i == 0,'right': i==2 }">
            <img [src]="hotel.images[0].url" alt="Hotel image"/>
            <div class="hotel-title">{{ hotel.hotelName }}</div>
          </div>
        </div>

        <button class="nav right" style="position: absolute;right: 10%" (click)="nextSlide()">&#10095;</button>
      </div>

    </div>

    <div class="carousel-label">Популярні готелі</div>
  </div>


  <app-hotel-card style="margin-top: 90px;">
  </app-hotel-card>
</div>



