





<div class="hotel-card row align-items-center" *ngIf="hotel && country" >
  <div class="hotel-image col-6" [style.background-image]="'url(' + hotel.images[0].url + ')'" >

  </div>

  <div class="hotel-info col-6 d-flex flex-column">
    <h3>{{hotel.hotelName}}</h3>
    <div class="hotel-rate">
      <app-stars [rate]="hotel.rate"></app-stars>
      <span class="hotel-feedback-amount">({{hotel.feedbacksAmount}} відгуків)</span>
    </div>
    <div class="rounded-text hotel-address">
      <img src="/imgs/bi_geo-alt.png" style="margin-right: 10px"/>
      <span style="margin:0;padding:0;">{{hotel.address}}</span>
    </div>
    <div class="rounded-text hotel-place">
      <span>#{{hotel.place}} of {{country.hotelsAmount}} hotels in {{country.name}}</span>
    </div>
    <button class="rounded-text">Докладніше</button>
  </div>

</div>

