
<div class="hotel-card row align-items-center">
  <div class="hotel-image col-6" style="background-image: url('/imgs/image (2).png')" >

  </div>

  <div class="hotel-info col-6 d-flex flex-column">
    <h3>Hotel Mea - Aeolian charme</h3>
    <div class="hotel-rate">
      <app-stars [rate]="3.5"></app-stars>
      <span class="hotel-feedback-amount">(897 відгуків)</span>
    </div>
    <div class="rounded-text hotel-address">
      <img src="/imgs/bi_geo-alt.png" style="margin-right: 10px"/>
      <span style="margin:0;padding:0;">Via Falcone Borsellino, 98055, Sicily Italy</span>
    </div>
    <div class="rounded-text hotel-place">
      <span>#3 of 33 hotels in Lipari</span>
    </div>
    <button class="rounded-text">Докладніше</button>
  </div>
</div>

