<div class="registration-form-container">
  @if (registrationForm) {
    <div class="from-container">
      <div class="reg-card">
        <div class="reg-card-header fw-medium">Реєстрація</div>
        <div class="reg-card-body">
          <form [formGroup]="registrationForm">
            <input type="text" formControlName="username" placeholder="Введіть ім'я користувача*" class="input-control">
            <div class="errorTextContainer margin-bottom-5">
              @if (registrationForm.get("username")?.invalid && registrationForm.get("username")?.touched) {
                @if (registrationForm.get("username")!.hasError("required")) {
                  <div class="me-1">The field cannot be empty;</div>
                }
                @if (registrationForm.get("username")!.hasError("pattern")) {
                  <div class="me-1">Only letters and " _ " , " - " are available;</div>
                }
                @if (registrationForm.get("username")!.hasError("checkUsername")) {
                  <div class="me-1">The username is already taken;</div>
                }
              }
            </div>

            <div class="custom-password">
              <input type="password" formControlName="password" placeholder="Введіть пароль*" #passInp>
              <button (click)="onSHBtnClick()">
                <img ngSrc="/icons/password-hide-icon.svg" alt="SHImg" width="20" height="20"
                     #SHImg/>
              </button>
            </div>

            <div class="errorTextContainer margin-bottom-5">
              @if (registrationForm.get("password")?.invalid && registrationForm.get("password")?.touched) {
                @if (registrationForm.get("password")!.hasError("required")) {
                  <div class="me-1">The field cannot be empty;</div>
                }
                @if (registrationForm.get("password")!.hasError("minlength")) {
                  <div class="me-1">The password must be longer than 6 characters;</div>
                }
              }
            </div>

            <input type="text" formControlName="firstName" placeholder="Введіть ім'я*" class="input-control">
            <div class="errorTextContainer margin-bottom-5">
              @if (registrationForm.get("firstName")?.invalid && registrationForm.get("firstName")?.touched) {
                @if (registrationForm.get("firstName")!.hasError("required")) {
                  <div class="me-1">The field cannot be empty;</div>
                }
                @if (registrationForm.get("firstName")!.hasError("pattern")) {
                  <div class="me-1">Only letters and " _ " , " - " are available;</div>
                }
              }
            </div>

            <input type="text" formControlName="lastName" placeholder="Введіть прізвище*" class="input-control">
            <div class="errorTextContainer margin-bottom-5">
              @if (registrationForm.get("lastName")?.invalid && registrationForm.get("lastName")?.touched) {
                @if (registrationForm.get("lastName")!.hasError("required")) {
                  <div class="me-1">The field cannot be empty;</div>
                }
                @if (registrationForm.get("lastName")!.hasError("pattern")) {
                  <div class="me-1">Only letters and " _ " , " - " are available;</div>
                }
              }
            </div>

            <input type="email" formControlName="email" placeholder="Введіть email*" class="input-control">
            <div class="errorTextContainer margin-bottom-5">
              @if (registrationForm.get("email")?.invalid && registrationForm.get("email")?.touched) {
                @if (registrationForm.get("email")!.hasError("email")) {
                  <div class="me-1">Incorrect format</div>
                }
                @if (registrationForm.get("email")!.hasError("checkEmail")) {
                  <div class="me-1">The username is already taken</div>
                }
              }
            </div>

            <div class="custom-date">
              <input type="text" formControlName="birthday" [owlDateTime]="brDt" placeholder="дд.мм.рррр" readonly>
              <button [owlDateTimeTrigger]="brDt">
                <img ngSrc="/icons/calendar-ico.svg" width="20" height="20" alt="Calendar">
              </button>
              <owl-date-time #brDt [pickerType]="'calendar'"></owl-date-time>
            </div>


            <div class="reg-card-buttons-block">
              <button type="button" class="singUpButton" (click)="onSubmit()">Зареєструватися</button>
              <button type="button" class="reg-button" (click)="withLogin()">Вже є аккаунт</button>
            </div>
          </form>

          <div class="o-auth-container">
            <button class="o-auth-btn">
              <img ngSrc="/icons/icons-google.svg" alt="Google" width="44" height="44" priority
                   (click)="singUpGoogle()">
            </button>
            <button class="o-auth-btn">
              <img ngSrc="/icons/icons-github.svg" alt="GitHub" width="44" height="44" priority
                   (click)="singUpGitHub()">
            </button>
          </div>

        </div>
      </div>
    </div>

  }

</div>
