.selected-flag:checked {
  background-color: rgba(255, 69, 0, 0.8);
  border-color: orangered;
}

.selected-flag:disabled {
  opacity: 1;
}

.selected-flag:focus {
  box-shadow: 0 0 5px #8c8c8c;
  border-color: #e4e7ea;
}

:is(mat-sidenav-container, mat-sidenav-content) > * {
  position: static !important;
  z-index: 0 !important;
}
