<div class="main-c-container">
  <div class="h-contact">Контакти</div>
  <div class="c-container">
    <div class="contact-container mb-3">
      <div class="row my-3">
        <div class="col-2 d-flex justify-content-center">
          <img ngSrc="/imgs/location_img.svg" alt="location" width="20" height="20" priority>
        </div>
        <div class="col-10">
          <span class="text-secondary">89849, м. Одеса, просп. І. Франкa, 18</span>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-2 d-flex justify-content-center">
          <img ngSrc="/imgs/email_img.png" alt="email" width="20" height="20" priority>
        </div>
        <div class="col-10">
          <span class="text-secondary">support&#64;ts.com</span>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-2 d-flex justify-content-center">
          <img ngSrc="/imgs/smartphone_img.svg" alt="email" width="20" height="20" priority>
        </div>
        <div class="col-10">
          <span class="text-secondary">(093) 463 06 71<br>(067) 796 28 46<br>(050) 851 52 97</span>
        </div>
      </div>
    </div>

    <div class="text-contact mb-3">
      <div class="text-center fw-semibold mb-3 fs-5">Ми тут, щоб допомогти!</div>
      <div class="text-secondary">
        Потрібна консультація, є пропозиції чи запитання?
        Не соромтеся звертатися! Наша команда завжди готова надати вам необхідну інформацію.
      </div>
    </div>
  </div>
</div>

