<div class="country-cards-container">
  <div class="country-cards" *ngIf="countries().length > 0; else loadingTemplate">
    <a class="country-card" *ngFor="let country of countries(); trackBy: trackByCountryId"
      [routerLink]="['/cities', country.id]">
      <div class="card-flag-container">
        <img [src]="country.flagImage.blobUrl" [alt]="country.flagImage.blobFileName || country.name + ' flag'"
          class="card-flag" loading="lazy" />
      </div>
      <div class="card-content">
        <h3 class="card-title">{{ country.name }}</h3>
      </div>
    </a>
  </div>

  <ng-template #loadingTemplate>
    <div class="loading-state">
      <div class="loading-spinner"></div>
      <p>Loading countries...</p>
    </div>
  </ng-template>
</div>
