<div class="login-form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="fw-semibold">Login</mat-card-title>
    </mat-card-header>
    @if (loginForm) {
      <form [formGroup]="loginForm">
        <mat-card-content>
          <div class="mb-3">
            <input type="text" formControlName="login" placeholder="Username" class="form-control form-control-sm">
            <div class="errorTextContainer">
              @if (this.invalidUsername()) {
                <span class="me-1">{{ this.invalidUsername() }}</span>
              }
              @if (loginForm.get("login")?.invalid && loginForm.get("login")?.touched) {
                @if (loginForm.get("login")!.hasError("required")) {
                  <span class="me-1">{{ this.errorMessage[0] }}</span>
                }
                @if (loginForm.get("login")!.hasError("pattern")) {
                  <span class="me-1">{{ this.errorMessage[1] }}</span>
                }
              }
            </div>
          </div>


          <input type="password" formControlName="password" placeholder="Password"
                 class="form-control form-control-sm">
          <div class="errorTextContainer">
            @if (this.invalidPassword()) {
              <span class="me-1">{{ this.invalidPassword() }}</span>
            }
            @if (loginForm.get("password")?.invalid && loginForm.get("password")?.touched) {
              @if (loginForm.get("password")!.hasError("required")) {
                <span class="me-1">{{ this.errorMessage[0] }}</span>
              }
              @if (loginForm.get("password")!.hasError("pattern")) {
                <span class="me-1">{{ this.errorMessage[1] }}</span>
              }
            }
          </div>


        </mat-card-content>
        <mat-card-actions>
          @if (loginForm.get("login")?.invalid || loginForm.get("password")?.invalid) {
            <button type="button" mat-stroked-button class="singInButton" (click)="onSubmit()" disabled>SingIn</button>
          } @else {
            <button type="button" mat-stroked-button class="singInButton" (click)="onSubmit()">SingIn</button>
          }

        </mat-card-actions>
      </form>

      <div class="d-flex align-items-center justify-content-center my-2">
        <button mat-fab (click)="withGoogle()" class="me-3 bg-white h-50 w-auto shadow-sm">
          <img ngSrc="icons/icons-google.svg" width="35" height="35" alt="Google">
        </button>
        <button mat-fab (click)="withGitHub()" class="bg-white h-50 w-auto shadow-sm">
          <img ngSrc="icons/icons-github.svg" width="35" height="35" alt="GitHub">
        </button>
      </div>
    } @else {
      <mat-card-content>
        <div class="text-danger fw-semibold">Sorry!</div>
        <div class="text-center">The service is temporarily unavailable</div>
      </mat-card-content>
    }

  </mat-card>
</div>
