.main-container {
  display: block;
  position: relative;
}

.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 292px;
  height: 505px;
  background: #8DBECD;
  border-radius: 30px;
}

.sing-in-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 458px;
  background: white;
  border-radius: 30px;
}

.sing-in-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 29px;
  margin-bottom: 63px;
}

.input-control {
  width: 217px;
  height: 27px;
  border-radius: 30px;
  border: 1px solid #8DBECD;
  color: #8DBECD;
  padding-left: 10px;
  font-size: 10pt;
}

.input-control:focus {
  box-shadow: none;
  outline: none;
}

.custom-password {
  display: flex;
  align-items: center;
  width: 217px;
  height: 27px;
  border-radius: 30px;
  border: 1px solid #8DBECD;
}

.custom-password > input {
  width: 172px;
  height: 25px;
  margin-left: 11px;
  border: none;
  color: #8DBECD;
  padding: 0;
  font-size: 10pt;
}

.custom-password > button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  border: none;
  padding: 0;
}


.input-control::placeholder {
  color: #8DBECD;
}

.custom-password > input::placeholder {
  color: #8DBECD;
}

.custom-password > input:focus {
  box-shadow: none;
  outline: none;
}

.headerText {
  font-size: 20px;
  color: #8DBECD;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-4 {
  margin-bottom: 4px;
}


.button-container {
  margin-top: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.singInButton {
  width: 217px;
  height: 27px;
  background: #D9913C;
  border-radius: 39px;
  border: none;
  color: white;
}

.reg-button {
  width: 217px;
  height: 27px;
  background: transparent;
  border-radius: 39px;
  border: 1px solid #D9913C;
  color: #D9913C;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.o-auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}

.o-auth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
  border: none;
}

.o-auth-btn:first-child {
  margin-right: 22px;
}


:is(.singInButton, .reg-button):hover {
  will-change: transform;
  transform: scale(1.02);
  transition: transform 0.1s ease-in-out;
}

:is(.singInButton, .reg-button, .o-auth-btn):active {
  will-change: transform;
  transform: scale(0.96);
  transition: transform 0.1s ease-in-out;
}
