<div class="login-form-container">
  <div class="bg-login-form-container">
    <div class="sing-in-container">
      <div class="sing-in-container-header headerText fw-medium">Вхід</div>

      <div class="sing-in-container-body">
        @if (loginForm) {
          <form [formGroup]="loginForm">
            <input type="text" formControlName="login" placeholder="Введіть логін*" class="input-control">
            <div class="errorTextContainer margin-bottom-5">
              @if (this.invalidUsername()) {
                <span class="me-1">{{ this.invalidUsername() }}</span>
              }
              @if (loginForm.get("login")?.invalid && loginForm.get("login")?.touched) {
                @if (loginForm.get("login")!.hasError("required")) {
                  <span class="me-1">{{ this.errorMessage[0] }}</span>
                }
                @if (loginForm.get("login")!.hasError("pattern")) {
                  <span class="me-1">{{ this.errorMessage[1] }}</span>
                }
              }
            </div>

            <div class="custom-password">
              <input type="password" formControlName="password" placeholder="Введіть пароль*" #passInp>
              <button (click)="onSHBtnClick()">
                <img ngSrc="/icons/password-hide-icon.svg" width="20" height="20" alt="Password" #SHImg>
              </button>
            </div>

            <div class="errorTextContainer">
              @if (this.invalidPassword()) {
                <span class="me-1">{{ this.invalidPassword() }}</span>
              }
              @if (loginForm.get("password")?.invalid && loginForm.get("password")?.touched) {
                @if (loginForm.get("password")!.hasError("required")) {
                  <span class="me-1">{{ this.errorMessage[0] }}</span>
                }
                @if (loginForm.get("password")!.hasError("pattern")) {
                  <span class="me-1">{{ this.errorMessage[1] }}</span>
                }
              }
            </div>

            <div class="button-container">
              <button type="button" class="singInButton margin-bottom-4" (click)="onSubmit()">Увійти</button>

              <button type="button" class="reg-button" (click)="withRegistration()">Ще не має акаунту</button>

              <div class="o-auth-container">
                <button class="o-auth-btn">
                  <img ngSrc="/icons/icons-google.svg" alt="Google" width="44" height="44" priority
                       (click)="singInGoogle()">
                </button>
                <button class="o-auth-btn">
                  <img ngSrc="/icons/icons-github.svg" alt="GitHub" width="44" height="44" priority
                       (click)="singInGitHub()">
                </button>
              </div>

            </div>

          </form>

        }

      </div>
    </div>
  </div>

</div>
