<div class="d-flex align-items-center justify-content-center flex-column block-center">
	<div class="title-h">F.A.Q</div>
	<div class="text-h text-center">В цьому розділі ви знайдете відповіді на самі часті запитання</div>
	<div class="faq-container">
		<div class="accordion" id="accordionExample">
			<div class="accordion-item w-acr">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#question_1">
						Як забронювати готель або тур на сайті?
					</button>
				</h2>
				<div id="question_1" class="accordion-collapse collapse">
					<div class="accordion-body">
						Все досить просто, вам необхідно перейти у відповідний розділ сайту, знайти тур чи готель
						який вас
						цікавить,<br />
						та натиснути на кнопку "забронювати" після чого бажаний готель чи тур буде відображений в
						вашому
						особистому кабінеті.
					</div>
				</div>
			</div>

			<div class="accordion-item w-acr">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#question_2" aria-expanded="false" aria-controls="question_2">
						Чи потрібно вносити передоплату при бронюванні?
					</button>
				</h2>
				<div id="question_2" class="accordion-collapse collapse">
					<div class="accordion-body">Оплата послуг здійснюється після опрацювання заявок менеджерами.
					</div>
				</div>
			</div>

			<div class="accordion-item w-acr">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#question_3" aria-expanded="false" aria-controls="question_3">
						Які умови скасування бронювання?
					</button>
				</h2>
				<div id="question_3" class="accordion-collapse collapse">
					<div class="accordion-body">
						Скасування бронювання здійснюється через особистий кабінет. Якщо бронювання не було
						оплачено,<br />
						скасування буде моментальним. Якщо ж оплата була здійснена, бронювання буде відмічено як
						скасоване,<br />
						а кошти повернені протягом 3 банківських днів.
					</div>
				</div>
			</div>

			<div class="accordion-item w-acr">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#question_4" aria-expanded="false" aria-controls="question_4">
						Чи включено трансфер або харчування у вартість туру?
					</button>
				</h2>
				<div id="question_4" class="accordion-collapse collapse">
					<div class="accordion-body">Ні дані послуги оплачуються окремо та не входять до вартості туру.
					</div>
				</div>
			</div>

			<div class="accordion-item w-acr">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#question_5" aria-expanded="false" aria-controls="question_5">
						Як зв’язатися з підтримкою у разі проблем із бронюванням?
					</button>
				</h2>
				<div id="question_5" class="accordion-collapse collapse">
					<div class="accordion-body">
						Направивши лист на нашу електрону адресу support&#64;ts.com, або ж за телефонами вказаним в
						розділі
						"Контакти"
					</div>
				</div>
			</div>
		</div>
	</div>
</div>