.block-center {
    width: 100%;
    margin: 30px auto;
}

.title-h {
    font-size: 10dvh;
    margin-bottom: 15px;
    font-weight: 500;
}

.text-h {
    font-size: 14pt;
    color: gray;
    margin-bottom: 40px;
}

.faq-container {
    width: 70dvw;
}

.w-acr {
    width: 100%;
}

.accordion-button:hover {
    background-color: rgb(224, 227, 230) !important;
}

.accordion-button:focus-within {
    box-shadow: none !important;
    background-color: rgb(219, 221, 223) !important;
    color: rgb(46, 46, 46) !important;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(219, 221, 223) !important;
    color: rgb(46, 46, 46) !important;
}