.menu-button {
  background: transparent;
  margin-left: 7.224dvw;
  border: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.user-menu {
  border: none !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) !important;
  padding: 0 !important;
  margin-top: 1.2rem;
}

.user-d-item > .dropdown-item {
  margin: 0 !important;
  padding: 0.7rem 1rem 0.7rem 1rem !important;
}

.user-d-item > .dropdown-divider {
  margin: 0 !important;
  padding: 0 !important;
}

.user-d-item > :hover {
  background: rgb(143, 151, 159, 0.2) !important;
}

.user-d-item > .dropdown-item:active {
  color: rgba(255, 106, 0, 0.8);
}

.navStyle {
  background: #8DBECD;
  width: 100%;
  height: 80px;
  position: sticky;
  padding: 0 !important;
  border-radius: 0 0 10px 10px;
}

.loginUserBtn {
  margin-right: 7.224dvw;
  border-radius: 50%;
}

:is(.loginUserBtn, .menu-button):active {
  will-change: transform;
  transform: scale(0.90);
  transition: transform 0.1s ease-in-out;
}

.containerLogo {
  all: unset;
  background: #e8f5e9;
  border-radius: 50%;
}

:is(.containerLogo, .loginUserBtn, .menu-button):hover {
  box-shadow: 0 0 7px rgba(234, 234, 234, 0.7);
}

.container-fluid {
  max-height: 80px !important;
  width: 100% !important;
  padding: 0 !important;
}

@media (max-width: 550px) {
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
  }

  .menu-button > img {
    width: 31px;
    height: 31px;
  }

  .loginUserBtn > img {
    width: 35px;
    height: 35px;
  }

  .containerLogo > img {
    width: 49px;
    height: 49px;
  }

}

@media (max-width: 402px) {

  .menu-button > img {
    width: 28px;
    height: 28px;
  }

  .loginUserBtn > img {
    width: 28px;
    height: 28px;
  }

}
