<div class="container">
    <nav class="navbar navStyle z-3">
        <div class="container-fluid align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-start">
                <button class="menu-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <img ngSrc="/icons/menu_24dp.svg" height="35" width="35" alt="menu"/>
                </button>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <a routerLink="/" class="containerLogo">
                    <img ngSrc="/icons/logo_icon.png" alt="logo" width="55" height="55" priority/>
                </a>
            </div>

            <div class="d-flex align-items-center justify-content-end">
                <a class="loginUserBtn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUserMenu"
                   aria-controls="offcanvasUserMenu" aria-label="Toggle navigation">
                    <img ngSrc="/icons/login_user_icon.svg" height="45" width="45" alt="Login_User"/>
                </a>
            </div>

            <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="offcanvasUserMenu"
                 aria-labelledby="offcanvasUserMenu">
                <div class="offcanvas-header">
                    <div class="row w-100">
                        <div class="col">
                            @if (isLogin()) {
                                <div class="offcanvas-title is-user fst-italic"
                                     id="offcanvasUserMenuLabel">{{ username() }}
                                </div>
                            }
                        </div>
                        <div class="col">
                            <div class="d-flex align-items-center h-100">
                                <button type="button" class="close mg-cls" data-bs-dismiss="offcanvas"
                                        aria-label="Close">
                                    <img ngSrc="/icons/close-btn-menu.svg" height="24" width="24" alt="Close"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offcanvas-body">
                    @if (isLogin()) {
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <a class="btn link-button mb-3 w-75" routerLink="user-booking" data-bs-dismiss="offcanvas">Moї
                                бронювання</a>
                            <a class="btn link-button mb-3 w-75" routerLink="user-information"
                               data-bs-dismiss="offcanvas">Про
                                користувача</a>
                            @if (checkUserRole()) {
                                <a class="btn link-button mb-3 w-75" routerLink="admin-panel"
                                   data-bs-dismiss="offcanvas">Панель
                                    керування</a>
                            }
                            <button class="btn link-button my-4 w-75" (click)="onLogout()" data-bs-dismiss="offcanvas">
                                Вихід
                            </button>
                        </div>
                    } @else {
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <a class="btn link-button mb-3 w-75" routerLink="authorization" data-bs-dismiss="offcanvas">Moї
                                бронювання</a>
                            <a class="btn link-button mb-3 w-75" routerLink="authorization" data-bs-dismiss="offcanvas">Про
                                користувача</a>
                            <a class="btn link-button my-4 w-75" routerLink="/authorization"
                               data-bs-dismiss="offcanvas">Увійти</a>
                        </div>
                    }
                </div>
            </div>

            <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <div class="row w-100">
                        <div class="col">
                            <div class="menu-logo">
                                <img ngSrc="/icons/logo_end_text.svg" width="152" height="43" alt="logo"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex align-items-center h-100">
                                <button type="button" class="close mg-cls" data-bs-dismiss="offcanvas"
                                        aria-label="Close">
                                    <img ngSrc="/icons/close-btn-menu.svg" height="24" width="24" alt="Close"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offcanvas-body">
                    <div class="d-flex align-items-center justify-content-center flex-column">
                        <a class="btn link-button w-75 mt-5 mb-4" routerLink="tours"
                           data-bs-dismiss="offcanvas">Тури</a>

                        <a class="btn link-button w-75 mb-4" routerLink="hotels" data-bs-dismiss="offcanvas">Готелі</a>

                        <a class="btn link-button w-75 mb-4" routerLink="countries"
                           data-bs-dismiss="offcanvas">Країни</a>

                        <a class="btn link-button w-75 mb-4" routerLink="faq" data-bs-dismiss="offcanvas">Питання та
                            відповіді</a>

                        <a class="btn link-button w-75 mb-4" routerLink="contacts"
                           data-bs-dismiss="offcanvas">Контакти</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="start-container">
            <router-outlet/>
        </div>
    </main>
    <footer class="footer rounded-top-4 mt-5">
        <div class="footer-container">
            <div class="footer-grid">
                <div class="footer-column">
                    <h3>Навігація</h3>
                    <ul>
                        <li><a routerLink="/">Головна</a></li>
                        <li><a routerLink="tours">Тури</a></li>
                        <li><a routerLink="hotels">Готелі</a></li>
                        <li><a routerLink="countries">Країни</a></li>
                        <li><a routerLink="faq">Питання та відповіді</a></li>
                        <li><a routerLink="contacts">Контакти</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Тури</h3>
                    <ul>
                        <li><a routerLink="cities/74">Велика Британія</a></li>
                        <li><a routerLink="cities/81">Іспанія</a></li>
                        <li><a routerLink="cities/79">Італія</a></li>
                        <li><a routerLink="cities/83">Канада</a></li>
                        <li><a routerLink="cities/73">Україна</a></li>
                        <li><a routerLink="cities/78">США</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Контакти</h3>
                    <div class="contact-info">
                        <p><strong>Пон - Птн:</strong> 10:00 - 19:00</p>
                        <p><strong>Адрес:</strong><br>11, Prospect Nebesnoi Sotni, 2, Odesa</p>
                        <div class="phone-numbers">
                            <a href="tel:+380443384144">+38 044 338 41 44</a>
                            <a href="tel:+380665914144">+38 066 591 41 44</a>
                            <a href="tel:+380965914144">+38 096 591 41 44</a>
                            <a href="tel:+380635914144">+38 063 591 41 44</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <p>© 2025 Туристична Онлайн Аганція - SunTrip Україна</p>
            </div>
        </div>
    </footer>
</div>
