.menu-button {
  background: transparent !important;
  box-shadow: none !important;
}

.user-menu {
  border: none !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) !important;
  padding: 0 !important;
  margin-top: 1.2rem;
}

menu-button:hover {
  background: rgba(238, 238, 238, 0.5) !important;
}
.user-d-item>.dropdown-item {
  margin: 0 !important;
  padding: 0.7rem 1rem 0.7rem 1rem !important;
}
.user-d-item>.dropdown-divider {
  margin: 0 !important;
  padding: 0 !important;
}
.user-d-item>:hover {
  background: rgb(143, 151, 159, 0.2) !important;
}

.user-d-item>.dropdown-item:active{
  color: rgba(255, 106, 0, 0.8);
}
