<div class="container">
  <nav class="navbar navStyle">
    <div class="container-fluid align-items-center justify-content-between">
      <div class="d-flex align-items-center justify-content-start">
        <button mat-mini-fab class="menu-button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <img ngSrc="icons/menu_24dp.svg" height="35" width="35" alt="menu">
        </button>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <a routerLink="/" class="containerLogo">
          <img ngSrc="icons/logo_icon.svg" alt="logo" width="98" height="76" priority>
        </a>
      </div>

      <div class="d-flex align-items-center justify-content-end">
        @if (isLogin()) {
          <div class="dropdown">
            <button type="button" class="btn fw-semibold me-3 border-0" data-bs-toggle="dropdown"
                    aria-expanded="false">{{ username() }}
            </button>
            <ul class="dropdown-menu user-menu">
              <li class="user-d-item">
                <a class="dropdown-item" routerLink="booked-tours">Booked tours</a>
              </li>

              <li class="user-d-item">
                <hr class="dropdown-divider">
              </li>

              <li class="user-d-item">
                <a class="dropdown-item" routerLink="user-tours">Completed tours</a>
              </li>

              <li class="user-d-item">
                <hr class="dropdown-divider">
              </li>

              <li class="user-d-item">
                <a class="dropdown-item" routerLink="user-information">User information</a>
              </li>
            </ul>
          </div>
          <button mat-stroked-button class="link-button" (click)="onLogout()">Logout</button>
        } @else {
          <a class="loginUserBtn">
            <img ngSrc="icons/login_user_icon.svg" height="45" width="45" alt="Login_User">
          </a>
        }
      </div>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div class="main-container">
      <router-outlet/>
    </div>
  </main>
</div>


