@if (errorMessage() && errorMessage() !== null) {
<div class="d-flex align-items-center justify-content-center mt-3 fs-4">
  {{ errorMessage() }}
</div>
} @else {
<div class="d-flex align-items-center justify-content-end my-3">
  <button class="btn btn-sm btn-outline-success rounded-5 me-2 px-3">Add user</button>
  <button class="btn btn-sm btn-outline-primary rounded-5 me-2 px-3" #editUserBtn>Edit user</button>
  <button class="btn btn-sm btn-outline-danger rounded-5 me-2 px-3">Remove user</button>
</div>
@if (userList().length > 0) {
<div class="my-3">
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Birthday</th>
        <th scope="col">Email</th>
        <th scope="col">Is Active</th>
        <th scope="col">Roles</th>
      </tr>
    </thead>
    <tbody class="table-group-divider" #usersBlock>
      @for (user of userList(); track user.id; let i = $index) {
      <tr [attr.data-user-id]="user.id">
        <th scope="row">
          <div class="d-flex align-items-center justify-content-center">
            <input type="radio" class="form-check-input p-0 m-0" name="userId" #userCheck/>
            <div class="ms-2">{{ i + 1 }}</div>
          </div>
        </th>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.email }}</td>
        <td>
          @if (user.active) {
          <input type="checkbox" class="form-check-input" checked />
          } @else {
          <input type="checkbox" class="form-check-input" />
          }
        </td>
        <td>
          @if (user.roles.length > 0) {
            @for(role of user.roles; track $index) {
            <div class="mb-1">{{role.name}}</div>
          }
        } @else {
          <div class="mb-1">No roles assigned</div>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<dialog id="addUserModal">

</dialog>

<dialog id="editUserModal" #editUserModal class="custom-dialog">
  <div class="closeBtnContainer">
    <button class="btn-close" #editModalBtnClose></button>
  </div>
  @if (editUserForm) {

  <form method="dialog" [formGroup]="editUserForm" class="m-3">
    <input type="hidden" formControlName="id" />

    <div class="row mb-3">
      <div class="col input-group input-group-sm">
        <span class="input-group-text">Username</span>
        <input type="text" class="form-control" formControlName="username" aria-label="Username" required/>
      </div>
      <div class="col input-group input-group-sm">
        <span class="input-group-text">Email</span>
        <input
          type="email" class="form-control" formControlName="email" aria-label="Email" required/>
      </div>

      <div class="col input-group input-group-sm">
        <span class="input-group-text">Password</span>
        <input type="text" class="form-control" formControlName="password" aria-label="Password"/>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col input-group input-group-sm">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" formControlName="firstName" aria-label="Name" required/>
      </div>
      <div class="col input-group input-group-sm">
        <span class="input-group-text">Surname</span>
        <input type="text" class="form-control" formControlName="lastName" aria-label="Surname" required/>
      </div>
      <div class="col input-group input-group-sm">
        <span class="input-group-text">Birthday</span>
        <input type="date" class="form-control" formControlName="birthday" aria-label="Birthday"/>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-start mb-3">
      <div class="form-check me-3">
        <input type="checkbox" class="form-check-input" formControlName="active" aria-label="Is Active"/>
        <label class="form-check-label">Is Active</label>
      </div>

      <div formGroupName="roles">
        @for (_role of userRoles(); track $index) {
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input me-1" [formControlName]="_role.name"/>
            <label class="form-check-label me-2">{{ _role.name }}</label>
          </div>
        }
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-end">
      <button type="submit" class="btn btn-sm btn-outline-success px-4" (click)="onEditUser()">Save</button>
    </div>
  </form>
  }
</dialog>
} @else {
  <div class="d-flex align-items-center justify-content-center mt-3 fs-4">
    There seem to be no users. Please add them
  </div>
  }
}
