<div class="row my-3">
  <div class="col g-cn">
    <div class="d-flex align-items-center">
      <form *ngIf="searchDataForm" [formGroup]="searchDataForm">
        <div class="searchBlock">
          <input class="form-control form-control-sm" type="text" aria-label="search input"
                 formControlName="search_text">
          <select class="form-select form-select-sm" formControlName="search_option"
                  aria-label="select search option">
            <option selected hidden="hidden" disabled>search by...</option>
            <option value="country">Country name</option>
            <option value="capital">Capital name</option>
          </select>
          <button type="button" class="btn btn-sm" (click)="searchData()">
            <img ngSrc="/icons/search_adm_org.svg" width="20" height="20" alt="search icon">
          </button>
          <button type="button" class="btn btn-sm" (click)="clearSearch()">
            <img ngSrc="/icons/clear_close.png" width="20" height="20" alt="clear icon">
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="col">
    <div class="d-flex align-items-center justify-content-end">
      <button class="btn btn-sm btn-outline-success me-2 rounded-5 px-3" (click)="openAddCountryModal()">Add country
      </button>
      <button class="btn btn-sm btn-outline-primary me-2 rounded-5 px-3" (click)="openUpdateCountryModal()">Edit
        country
      </button>
      <button class="btn btn-sm btn-outline-danger me-2 rounded-5 px-3" #removeCountryBtn>Remove country</button>
    </div>
  </div>
</div>

<div class="my-3">
  <table class="table table-hover align-middle">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Flag</th>
      <th scope="col">Capital city</th>
      <th scope="col">Description</th>
      <th scope="col">Languages</th>
      <th scope="col">Climate</th>
      <th scope="col">Currency</th>
      <th scope="col">Phone code</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody class="table-group-divider" #countryBlock>
      @if (displayCountryList() && displayCountryList()!.length > 0) {
        @for (country of displayCountryList(); track country.id; let i = $index) {
          <tr [attr.data-country-id]="country.id">
            <th scope="row">
              <div class="d-flex align-items-center justify-content-center">
                <input type="radio" class="form-check-input p-0 m-0 selected-flag" name="country" disabled/>
                <div class="ms-2">{{ i + 1 }}</div>
              </div>
            </th>
            <td>{{ country.name }}</td>
            <td>
              <img [ngSrc]="country.flagImage.blobUrl" alt="country image" width="60" height="40">
            </td>
            <td>{{ country.capitalCity.name }}</td>
            <td>
              <button class="btn btn-sm btn-outline-secondary rounded-5 px-3" aria-label="Show description button"
                      [attr.data-ds-country-id]="country.id" (click)="setDescription($event)">Show
              </button>
            </td>
            <td>
              @for (language of country.languages; track language.id) {
                {{ language.name }}
              }
            </td>
            <td>{{ country.climate.name }}</td>
            <td>{{ country.currency }}</td>
            <td>{{ country.phoneCode }}</td>
            @if (country.defaultImage) {
              <td>
                <button class="btn btn-sm btn-outline-secondary rounded-5 px-3"
                        (click)="openMainImageModal()">Main Image
                </button>
              </td>
            } @else {
              <td>-</td>
            }

          </tr>
        }

      } @else {
        <tr>
          <td colspan="9">
            <div class="d-flex align-items-center justify-content-center mt-3">
              @if (this.loadingFailed()) {
                <span class="fs-4">List of countries is empty</span>
              } @else {
                <div class="spinner-border text-secondary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              }
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (selectedCountry) {
  <dialog class="custom-dialog p-3" #imageCountryDialog>
    <div class="d-flex align-items-center justify-content-end mb-3">
      <button class="btn-close" (click)="closeImageModal()"></button>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      @if (selectedCountry.defaultImage !== null) {
        <img src="{{selectedCountry.defaultImage.blobUrl}}" alt="{{selectedCountry.defaultImage.blobFileName}}"
             class="cnt-img">
      } @else {
        <div class="my-5 fw-semibold fs-5">The image is missing. Add it</div>
      }

    </div>
  </dialog>

}

<dialog class="container custom-dialog" id="addingCountyDialog" #addingCountryDialog>
  <div class="closeBtnContainer my-3">
    <button class="btn-close" (click)="closeAddCountryModal()"></button>
  </div>

  @if (addCountryForm) {
    <form method="dialog" [formGroup]="addCountryForm" enctype="multipart/form-data">
      <div class="row row-cols-3">
        <div class="col mb-3">
          <div class="input-group input-group-sm admin-input-group">
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control admin-input" formControlName="name" aria-label="Name">
          </div>
        </div>
        <div class="col mb-3">
          <div class="input-group input-group-sm admin-input-group">
            <span class="input-group-text">Capital city</span>
            <input type="text" class="form-control admin-input" formControlName="capitalCityName"
                   aria-label="Capital city">
          </div>
        </div>
        <div class="col mb-3">
          <ng-select class="ng-select-ngCs" [items]="languageList()" bindLabel="name" [multiple]="true"
                     formControlName="languages" placeholder="Selected country language"></ng-select>
        </div>
        <div class="col mb-3">
          <ng-select class="ng-select-ngCs" [items]="climateList()" bindLabel="name"
                     formControlName="climate" placeholder="Selected country climate"></ng-select>
        </div>
        <div class="col mb-3">
          <div class="input-group input-group-sm admin-input-group">
            <span class="input-group-text">Currency</span>
            <input type="text" class="form-control admin-input" formControlName="currency" aria-label="Currency">
          </div>
        </div>
        <div class="col mb-3">
          <div class="input-group input-group-sm admin-input-group">
            <span class="input-group-text admin-input">Phone code</span>
            <input type="text" class="form-control admin-input" formControlName="phoneCode" aria-label="Phone code">
          </div>
        </div>

      </div>
      <div class="row row-cols-2">
        <div class="col mb-3">
          <div class="mb-3 input-group input-group-sm admin-input-group">
            <input type="file" (change)="onSelectedFile($event)" class="form-control admin-input"
                   aria-label="Select flag image">
            <span class="input-group-text">Select flag image</span>
          </div>
        </div>

        <div class="col mb-3">
          <div class="mb-3 input-group input-group-sm admin-input-group">
            <input type="file" (change)="onSelectedMainImage($event)" class="form-control admin-input"
                   aria-label="Select main image">
            <span class="input-group-text">Select main image</span>
          </div>
        </div>
      </div>

      <textarea class="form-control mb-3 not-resize admin-input txt-min-h" formControlName="description"
                placeholder="Country description"></textarea>

      <div class="d-flex align-items-center justify-content-end mb-3">
        <button type="submit" class="btn btn-sm btn-outline-success rounded-5 px-4 me-2" (click)="requestCountry()">
          Add
        </button>
        <button type="reset" class="btn btn-sm btn-outline-danger rounded-5 px-4 me-2">Clear</button>
      </div>
    </form>
  }
</dialog>

<dialog class="container custom-dialog" id="descriptionDialog" #descriptionDialog>
  <div class="row my-3">
    <div class="col">
      <span class="fw-semibold fs-5 ms-3">Country description</span>
    </div>
    <div class="col">
      <div class="closeBtnContainer">
        <button class="btn-close" (click)="closeDescriptionModal()"></button>
      </div>
    </div>
  </div>

  @if (displayDescriptionCountry() !== null) {
    <textarea class="form-control admin-input not-resize txt-min-h" readonly
              [textContent]="displayDescriptionCountry()"></textarea>
  } @else {
    <textarea class="form-control admin-input" readonly>The description is missing or temporarily unavailable</textarea>
  }
</dialog>

<dialog class="container custom-dialog" id="addingCountyDialog" #updateCountryDialog>
  <div class="closeBtnContainer my-3">
    <button class="btn-close" (click)="closeUpdateCountryModal()"></button>
  </div>

  @if (editCountryForm) {
    <form method="dialog" [formGroup]="editCountryForm" enctype="multipart/form-data">
      <input type="hidden" formControlName="id">
      <div class="row row-cols-3">
        <div class="col mb-3">
          <div class="input-group input-group-sm admin-input-group">
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control admin-input" formControlName="name" aria-label="Name">
          </div>
        </div>
        <div class="col mb-3">
          <div class="input-group input-group-sm admin-input-group">
            <span class="input-group-text">Capital city</span>
            <input type="text" class="form-control admin-input" formControlName="capitalCity"
                   aria-label="Capital city">
          </div>
        </div>
        <div class="col mb-3">
          <ng-select class="ng-select-ngCs" [items]="languageList()" bindLabel="name" [multiple]="true"
                     formControlName="languages" placeholder="Selected country language"></ng-select>
        </div>
        <div class="col mb-3">
          <ng-select class="ng-select-ngCs" [items]="climateList()" bindLabel="name"
                     formControlName="climate" placeholder="Selected country climate"></ng-select>
        </div>
        <div class="col mb-3">
          <div class="input-group input-group-sm admin-input-group">
            <span class="input-group-text">Currency</span>
            <input type="text" class="form-control admin-input" formControlName="currency" aria-label="Currency">
          </div>
        </div>
        <div class="col mb-3">
          <div class="input-group input-group-sm admin-input-group">
            <span class="input-group-text admin-input">Phone code</span>
            <input type="text" class="form-control admin-input" formControlName="phoneCode" aria-label="Phone code">
          </div>
        </div>
      </div>

      <div class="row row-cols-2">
        <div class="col mb-3">
          <div class="mb-3 input-group input-group-sm admin-input-group">
            <input type="file" (change)="onSelectedFile($event)" class="form-control admin-input"
                   aria-label="Select flag image">
            <span class="input-group-text">Select flag image</span>
          </div>
        </div>

        <div class="col mb-3">
          <div class="mb-3 input-group input-group-sm admin-input-group">
            <input type="file" (change)="onSelectedMainImage($event)" class="form-control admin-input"
                   aria-label="Select main image">
            <span class="input-group-text">Select main image</span>
          </div>
        </div>
      </div>

      <textarea class="form-control mb-3 not-resize admin-input txt-min-h" formControlName="description"
                placeholder="Country description"></textarea>

      <div class="d-flex align-items-center justify-content-end mb-3">
        <button type="submit" class="btn btn-sm btn-outline-success rounded-5 px-4 me-2" (click)="updateCountry()">
          Save
        </button>
        <button type="reset" class="btn btn-sm btn-outline-danger rounded-5 px-4 me-2">Clear</button>
      </div>
    </form>
  }
</dialog>
