/* You can add global styles to this file, and also import other style files */

@import "@ng-select/ng-select/themes/default.theme.css";
/*@import "@ng-select/ng-select/themes/ant.design.theme.css";*/

@font-face {
  font-family: "Futura";
  src: url("/fonts/futura/FuturaWindows.woff2") format("woff2"),
  url("/fonts/futura/FuturaWindows.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  margin: 0 auto !important;
  width: 1440px !important;
  font-family: Futura, sans-serif !important;
}

.hide-block {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.show-block {
  opacity: 1;
  transition: opacity 1s ease;
}

.searchBlock {
  min-height: 20dvh;
}

.custom-dialog {
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #343434;
}

.closeBtnContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1rem;
}

::backdrop {
  background-color: rgba(157, 157, 157, 0.7);
}

.not-resize {
  resize: none;
}

.ng-select-ngCs.ng-select-container {
  border-color: #dfe3e7 !important;
  max-width: 30dvw !important;
}

.ng-select-ngCs.ng-select-opened > .ng-select-container {
  border-color: #86aed3 !important;
}

.ng-dropdown-panel.ng-select-bottom {
  border-bottom-color: #86aed3 !important;
  border-left-color: #86aed3 !important;
  border-right-color: #86aed3 !important;
  border-top-color: rgba(91, 115, 138, 0.8) !important;
}

.ng-select-ngCs.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  box-shadow: none !important;
  border-color: #86aed3 !important;
}

.admin-input-group {
  border-radius: 4px !important;
  height: 36px !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: rgba(201, 217, 236, 0.73) !important;
  text-decoration: underline orangered 1px !important;
}

.ng-option:hover {
  background-color: rgba(201, 217, 236, 0.73) !important;
}

.admin-input {
  box-shadow: none !important;
}

.admin-input:active {
  border-color: #86aed3 !important;
}

.txt-min-h {
  min-height: 15rem !important;
}


.bootstrap-like-select {
  width: 20dvw;
  height: 1dvh;

  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-flex {
    height: 0.1rem;
    align-items: center;
  }

  .mat-select {
    font-size: 0.1rem;
    padding: 0;
    min-height: unset;
    line-height: 1.2;
  }

  .mat-select-trigger {
    padding: 0;
    min-height: unset;
  }

  .mat-select-value {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .mat-select-value-text {
    font-size: 0.1rem;
    padding: 0;
    background-color: #e9ecef;
    border-radius: 0.2rem;
  }

}

