/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hide-block {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.show-block {
  opacity: 1;
  transition: opacity 1s ease;
}
