<div class="booking-bg">
  <h3>
    Подивитись ціни для дат вашої подорожі
  </h3>

  <div class="booking-container">
    <form [formGroup]="bookForm" id="bookingForm">

      <div class="data-container">

        <div class="d-flex flex-column">
          <div class="custom-date">
            <button [owlDateTimeTrigger]="checkin">
              <img ngSrc="/icons/calendar-dark.png" width="20" height="20" alt="Calendar">
            </button>
            <input type="text" formControlName="checkin" [owlDateTime]="checkin" placeholder="Заселення" readonly #checkinInp>
            <owl-date-time #checkin [pickerType]="'calendar'"></owl-date-time>
          </div>
          @if (bookForm.get("checkin")?.touched && bookForm.get("checkin")?.invalid) {
            @if (bookForm.get("checkin")?.hasError("required")) {
              <i class="text-danger mt-2">Поле обов`язкове</i>
            }
          }

        </div>

        <div class="d-flex flex-column">
          <div class="custom-date">
            <button [owlDateTimeTrigger]="checkout">
              <img ngSrc="/icons/calendar-dark.png" width="20" height="20" alt="Calendar">
            </button>
            <input type="text" formControlName="checkout" [owlDateTime]="checkout" placeholder="Виселення" readonly #checkoutInp >

            <owl-date-time #checkout [pickerType]="'calendar'" ></owl-date-time>
          </div>
          @if (bookForm.get("checkout")?.touched && bookForm.get("checkout")?.invalid) {
            @if (bookForm.get("checkout")?.hasError("required")) {
              <i class="text-danger mt-2">Поле обов`язкове</i>
            }
          }
        </div>

        <div class="d-flex flex-column">
          <div class="amount custom-date">
            <img ngSrc="/icons/amount.svg" width="11" height="24" alt="amount"/>
            <select formControlName="amount" class="form-select" >
              <option value="-1" selected>Кількість</option>
              @for (num of Array(9); track $index) {
                <option value="{{$index+1}}">{{ $index + 1 }}</option>
              }
            </select>
          </div>
          @if (bookForm.get("amount")?.touched && bookForm.get("amount")?.invalid) {
            @if (bookForm.get("amount")?.hasError("required")) {
              <i class="text-danger mt-2">Поле обов`язкове</i>
            }
          }
        </div>
        <div class="d-flex flex-column">
          <div class="roomtype custom-date">
            <img ngSrc="/icons/room.svg" width="30" height="30" alt="amount"/>
            <select formControlName="roomType" class="form-select" #roomInp >
              <option value="-1" selected>Номер</option>
              @if (roomTypes.length>0){
                @for (room of roomTypes;track $index){
                  <option value="{{room.id}}">{{room.name}}</option>
                }
              }
            </select>
          </div>
          @if (bookForm.get("roomType")?.touched && bookForm.get("roomType")?.invalid) {
            @if (bookForm.get("roomType")?.hasError("required")) {
              <i class="text-danger mt-2">Поле обов`язкове</i>
            }
            @if (bookForm.get("roomType")?.hasError("min")) {
              <i class="text-danger mt-2">Недопустиме значення</i>
            }
          }
        </div>

        <div class="d-flex flex-column">
          <div class="to custom-date">
            <img ngSrc="/icons/solar_chef-hat-linear.svg" width="30" height="30" alt="amount"/>
            <select formControlName="foodType" class="form-select" #foodInp>
              <option value="-1" selected disabled>Харчування</option>
              @if (foodTypes.length>0){
                @for (food of foodTypes;track $index){
                  <option value="{{food.id}}">{{food.name}}</option>
                }
              }
            </select>
          </div>
          @if (bookForm.get("foodType")?.touched && bookForm.get("foodType")?.invalid) {
            @if (bookForm.get("foodType")?.hasError("required")) {
              <i class="text-danger mt-2">Поле обов`язкове</i>
            }
            @if (bookForm.get("foodType")?.hasError("min")) {
              <i class="text-danger mt-2">Недопустиме значення</i>
            }
          }
        </div>

        <div class="d-flex flex-column">
          <div class="from custom-date">
            <img ngSrc="/icons/from.svg" width="30" height="30" alt="amount"/>
            <select formControlName="from" class="form-select">
              <option value="-1" selected>Звідки</option>
              @if (citiesFrom.length>0){
                @for (cityGroup of getCategorizedCities | keyvalue; track $index ) {
                  <optgroup label="{{cityGroup.key}}">
                    @for (city of cityGroup.value; track $index) {
                      <option value="{{city.cityId}}">{{city.cityName}}</option>
                    }
                  </optgroup>
                }
              }
            </select>
          </div>
          @if (bookForm.get("from")?.touched && bookForm.get("from")?.invalid) {
            @if (bookForm.get("from")?.hasError("required")) {
              <i class="text-danger mt-2">Поле обов`язкове</i>
            }
            @if (bookForm.get("from")?.hasError("min")) {
              <i class="text-danger mt-2">Недопустиме значення</i>
            }
          }
        </div>

      </div>


      <div class="result-container">
        <b>Орієнтовна вартість:</b>

        <b>{{countSum}}</b>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#bookingModal" >
          Забронювати
        </button>

      </div>



      <div class="modal fade" id="bookingModal" #bookingModal tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="bookingModalLabel">Бронювання</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">
              <div class="mb-3">
                <label for="clientName" class="form-label">Ім`я</label>
                <input type="text" id="clientName" class="form-control" formControlName="clientName" form="bookingForm"/>
              </div>

              <div class="mb-3">
                <label for="clientSurname" class="form-label">Прізвище</label>
                <input type="text" id="clientSurname" class="form-control" formControlName="clientSurname" form="bookingForm"/>
              </div>

              <div class="mb-3">
                <label for="phoneNumber" class="form-label">Номер телефону</label>
                <input type="tel" id="phoneNumber" class="form-control" formControlName="phoneNumber" form="bookingForm"/>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Скасувати</button>
              <button type="button" class="btn btn-outline-primary" (mousedown)="countApp()" (click)="bookHotel()">Забронювати</button>
            </div>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>





